{% block content %}
<div class="navbar fixed-top" style="background-color: black;">
    <nav class="container">
      <span class="navbar-brand mb-0 h1">
          <a href="/">
              <div id="brand" class="instaicon logo d-none d-sm-block"></div>
              <div class="instaicon mainicon d-block d-sm-none"></div>
          </a>
      </span>
        <form class="form-inline my-1" action="/search"  role="search">
            <input class="form-control mr-sm-2" type="search" style="font-size: 15px;" placeholder="Search" name="search" aria-label="Search">
            <button class="btn btn-outline-dark btn-sm my-0" type="submit" style="color: rgb(253, 251, 251); font-size: 15px;">Search</button>
          </form>
        <br>
        <span class="pull-right">
            <div class="instaicon moha"></div>
            <div class="instaicon upendo"></div>
            <a href="" class="instaicon msee"></a>
        </span>
    </nav>
</div>
{%endblock%}